.info-container {
    display: grid;
}

img {
    width: 150pt;
    max-width: 20vw;
    border-radius: 50%;
}

.placeholder {
    filter: invert(40%);
}

.pic-container {
    display: flex;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
