<div class="seating-container">

  <div class="tables-grid">
    <div class="row" *ngFor="let row of tables | slice:0:tables.length; let rowIndex = index">
      <app-seat-pair *ngFor="let table of tables.slice(rowIndex * 2, rowIndex * 2 + 2)" [table]="table"
        [isOrganizer]="isAdmin" [currentUserId]="currentUserId" [event]="event" [swapMode]="swapMode"
        [selectedMen]="selectedMen" [selectedWomen]="selectedWomen"
        (seatSelectedForSwap)="seatSelectedForSwap.emit($event)">
      </app-seat-pair>
    </div>
  </div>

  <ng-container *ngIf="!isAdmin">
    <div class="entrance">
      <div></div>
    </div>

    <div class="info">
      <div class="info-item">
        <div class="seat-icon your-seat"></div>
        <span>= Your Seat</span>
      </div>
      <div class="info-item">
        <div class="entrance-icon"></div>
        <span>= You Enter From Here</span>
      </div>
    </div>
  </ng-container>
</div>