<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">


<div class="header-container">
  <div class="header-left">
    <img class="logo" src="date_with_speed.png" routerLink="/">
  </div>
    
  <div class="header-middle">
    <h1>Date with SPEED</h1>
  </div>
  
  <div class="header-right">
     <!-- <a routerLink="/login">Login</a> -->
    <app-menu></app-menu>
  </div>
</div>