// .header-container {
//   width: 100%;
//   background: rgb(104, 38, 82);
//   border-bottom: 4pt solid black;
//   height: 80pt;
//   line-height: 80pt;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   align-items: center;
//   position: relative;
// }

// .header-left {
//   display: flex;
//   align-items: flex-end;
//   justify-content: flex-start;
//   padding-left: 3vw;
// }

.header-left {
  min-width: max-content;
  padding-left: 3vw;
}

.header-right {
  display: inline-flex;
  justify-content: flex-end;
  padding-right: 2vw;
}

a div {
  display: grid;
  justify-items: center;
}

a {
  margin-left: 2vw;
  text-decoration: none;
  font-size: clamp(10pt, 1vw, 12pt);
  color: black;

  &:hover {
    background-color: #f4c6d5;
    color: white;
    cursor: pointer;
  }
}

.logo {
  height: 84px;
}

// Desktop
.header-container {
  height: 80px;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo {
  height: 84px;
  cursor:grab;
  transition: transform 120ms ease;
  transform-origin: center;
}

@keyframes grab-squeeze {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.94, 1.06);
  }
  100% {
    transform: scale(1);
  }
}

.logo:hover {
  transform: scale(1.03);
}

.logo:active {
  cursor: grabbing;
  animation: grab-squeeze 180ms ease-out;
}

// Mobile
@media (max-width: 768px) {
  .header-container {
    height: 70px;
    grid-template-columns: 1fr auto 1fr;
  }
  
  .logo {
  height: 84px;
  cursor:grab;
  transition: transform 120ms ease;
  transform-origin: center;
}

@keyframes grab-squeeze {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.94, 1.06);
  }
  100% {
    transform: scale(1);
  }
}

.logo:hover {
  transform: scale(1.03);
}

.logo:active {
  cursor: grabbing;
  animation: grab-squeeze 180ms ease-out;
}
  
  .header-middle {
    font-size: 10px;
  }
  
  .header-left {
    padding-left: 10px;
  }
}