// .header-container {
//   width: 100%;
//   background: rgb(104, 38, 82);
//   border-bottom: 4pt solid black;
//   height: 80pt;
//   line-height: 80pt;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   align-items: center;
//   position: relative;
// }

// .header-left {
//   display: flex;
//   align-items: flex-end;
//   justify-content: flex-start;
//   padding-left: 3vw;
// }

.header-left {
  min-width: max-content;
  padding-left: 3vw;
}

.header-right {
  display: inline-flex;
  justify-content: flex-end;
  padding-right: 2vw;
}

a div {
  display: grid;
  justify-items: center;
}

a {
  margin-left: 2vw;
  text-decoration: none;
  font-size: clamp(10pt, 1vw, 12pt);
  color: black;

  &:hover {
    background-color: #f4c6d5;
    color: white;
    cursor: pointer;
  }
}

.logo {
  cursor: grab;
  transition: transform 120ms ease;
  transform-origin: center;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    cursor: grabbing;
    animation: grab-squeeze 200ms ease-out 1;
  }
}

@keyframes grab-squeeze {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92, 1.08);
  }
  100% {
    transform: scale(1);
  }
}