<div>
  <button 
    class="hamburger" 
    [class.is-active]="isOpen"
    (click)="toggleMenu()"
    type="button"
    aria-label="Toggle menu"
  >
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
  
  <div class="menu-dropdown" *ngIf="isOpen">
    <a routerLink="/profile" class="menu-item" (click)="closeMenu()">
      <img class="icon" src="/profile-circle.svg" />Profile
    </a>
    <a routerLink="/events" class="menu-item" (click)="closeMenu()">
      <img class="icon" src="/calendar.svg" />Events
    </a>
    <a routerLink="/matches" class="menu-item" (click)="closeMenu()">
      <img class="icon" src="/heart.svg" />Matches
    </a>
    <a class="menu-item" (click)="logout()">
      <img class="icon" src="/logout.svg" />Log out
    </a>
  </div>
</div>