<div class="menu-wrapper">
  <button 
    class="hamburger" 
    [class.is-active]="isOpen"
    (click)="toggleMenu()"
    type="button"
    aria-label="Toggle menu"
  >
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
  
  <div class="menu-dropdown" *ngIf="isOpen">
    <a routerLink="/profile" class="menu-item" (click)="closeMenu()">Profile</a>
    <a routerLink="/events" class="menu-item" (click)="closeMenu()">Events</a>
    <a routerLink="/matches" class="menu-item" (click)="closeMenu()">Matches</a>
    <a  class="menu-item" (click)="logout()" (click)="closeMenu()">Sign out</a>  <!-- TODO fix sign out-->
  </div>
</div>