.matches-page {
  max-width: max-content;
  align-items: center;
  margin: 0 auto;
  padding: clamp(2pt, 2vw, 18pt);
  // box-sizing: border-box;

  .page-title {
    width: 100%;
    text-align: left;
    margin-bottom: 24pt;
  }
}

.matches-list {
  display: grid;
  max-width: 80vw;
  gap: 16pt;
  width: 400pt;
}

.match-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10pt clamp(8pt, 2vw, 14pt);
  background-color: #fff;
  border-radius: 8pt;

  .image-container {
    display: block;
    margin: 0 auto;

    img {
      width: 70pt;
      height: 70pt;
      border-radius: 50%;
      object-fit: cover;
      display: block;
    }
  }

  .match-info {
    padding: 1rem 0;
    padding-left: 0.5rem;
    padding-right: clamp(0.1rem, 2vw, 2rem);
    align-content: center;

    .info-row {
      width: 100%;
      display: flex;
      gap: 8pt;
      padding-top: 4pt;

      .label {
        width: 3rem;
      }
    }
  }

  .match-actions {
    display: block;
    margin: 0 auto;
    align-self: center;

    .delete-btn {
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;
      
      img {
        width: clamp(18pt, 3vw, 24pt);
      }
    }
  }
}

.match-card.new-highlight {
  border: 3pt solid #e62f5add;
  box-shadow: 0 0 8pt rgba(230, 57, 216, 0.371); // subtle glow
  transition: border 0.3s, box-shadow 0.3s;

  // Automatically fade the highlight over 10 seconds
  animation: fadeHighlight 12s forwards;
}

// Keyframes for fading border and shadow
@keyframes fadeHighlight {
  0% {
    border-color: #e62f5add;
    box-shadow: 0 0 8pt rgba(230, 57, 216, 0.371);
  }
  100% {
    border-color: transparent;
    box-shadow: none;
  }
}
