form {
    text-align: center;

    button {
        display: block;
        margin: 20pt auto;
    }
}

.invalid {
    background-color: pink;
    border-color: red;
    border-radius: 10pt;
    display: inline-block;
    padding: 12pt 18pt;
}

.hide {
    display: none;
}
