label {
    &.labelForCheckbox,
    &.labelForRadio {
        margin-top: 0;
        padding-left: 10pt;
    }
}

.invalid {
    background-color: pink;
    border-color: red;
}

.error {
    border-radius: 5pt;
    display: block;
    padding: 8pt 12pt;
    width: fit-content;
}

.hide {
    display: none;
}

form {
    justify-self: center;
}
