.event-feed {
    height: 100%;
    min-width: 20vh;
    background-color: blueviolet;
    outline: auto;
    justify-self: center;
    align-items: center;
    max-height: 80vh;
    overflow-y: auto;
    margin-top: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.event-wrapper {
    position: relative;
}

.past-event {
    filter: grayscale(60%);
}

.event-label {
    position: absolute;
    top: 6px;
    right: 6px;
    background: #ffffff;
    color: rgb(0, 151, 20);
    padding: 2px 4px;
    border-radius: 6px;
    font-size: 0.75rem;
    font-weight: bold;
    z-index: 10;
}
