.event-feed {
    height: 100%;
    justify-self: center;
    align-items: center;
    max-height: 80vh;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.event-wrapper {
    position: relative;
}

.past-event {
    filter: grayscale(90%) opacity(75%);
}

.event-label {
    position: absolute;
    top: 8pt;
    left: 46pt;
    background: #7c3aed;
    color: #ffffff;
    padding: 2pt 4pt;
    border-radius: 6pt;
    font-size: 0.85rem;
    z-index: 10;
}

.registered-check {
    width: 14pt;
    margin-top: 0.5pt;
    margin-bottom: -2.5pt;
}